<style>

h1 {color:red; font-weight:bold}

h2 {color:white ; font-weight:bold}

img {position: absolute;
width: 300px;
height: 300px;
left: 35%;
top: 50%;
bottom:10%
margin-left: -50px;
margin-top: -50px; }

</style>




<h1>Welcome to the Awesome Word Counter!</h1>



<h2>Enter a word and see how many times it appears in a sentence!</h2>

</b>
</b>

<form action='/result'>
  <div class="form-group">
    <label for="inputfirstword">Enter your word</label>
    <input id="firstword" name="firstword" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="inputsentence">Enter your favorite sentence ^_^ </label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Check it out!</button>
</form>



<img src="http://www.writersdigest.com/wp-content/uploads/numbers-721046.jpg">
