<h1> Result!</h1>
<%= @layout %>

<%= @firstword <%>




<h2>Number of times</h2>



<%= @sentence <%>


</br>
</br>

<h3> Thanks for visiting!</h3>


</br>
</br>


<img src="http://cdn.stupiddope.com/wp-content/uploads/2009/11/peace-sign-fingers1.jpg">
